{% extends "base.html" %}
{% block content %}

<h2>Distilleries</h2>
<br>

{% for distillery in distilleries %}
<section>
    <h3><a href="/distilleries/{{distillery.id}}">{{ distillery.name }}</a></h3>
    <div class=distillerys_whiskies>
        <p>Whiskies:</p>
        <ul class=list_of_whiskies>
            {% for whisky in distillery.whiskies %}
                <li><a href="/whiskies/{{whisky.id}}">{{ whisky.name }}</a></li>     
            {% endfor%}
        </ul>
    </div>
    {# {% for whisky in distillery.whiskies %}
        <p><a href="/whiskies/{{whisky.id}}">{{ whisky.name }}</a></p>     
    {% endfor%} #}
    <div class = "buttons">
        <form action="/distilleries/{{distillery.id}}/edit" method="GET">
            <input type="submit" value="Edit Distillery" >
        </form>
        <form action="/distilleries/{{distillery.id}}/delete" method="POST">
            <input type="submit" value="Delete">
        </form>
    </div>
</section>
{% endfor %}

<button><a href="/distilleries/new">Add a new distillery</a></button>

{% endblock %}