{% extends "base.html" %}
{% block content %}

<h2>{{ distillery.name }}</h2>
    <h3>Region: {{ distillery.region }}</h3>
    <h3>Founded in {{ distillery.founded }}</h3>
    {% for whisky in distillery.whiskies %}
        <p><a href="/whiskies/{{whisky.id}}">{{ whisky.name }}</a></p>     
    {% endfor%}

    <a href="/distilleries/{{distillery.id}}/edit">Edit Distillery</a>
    <form action="/distilleries/{{distillery.id}}/delete" method="POST">
        <input type="submit" value="Delete">
    </form>
    
{% endblock %}