{% extends "base.html" %}
{% block content %}

<h2>Whiskies</h2>
<br>

{% for whisky in whiskies %}
<section>
    <h3><a href="/whiskies/{{whisky.id}}">{{ whisky.name }}</a></h3>
    <p>Distillery: <a href="/distilleries/{{whisky.distillery.id}}">{{ whisky.distillery.name }}</a></p>
    <div class="buttons">
        <form action="/users/{{user.id}}/wishlist/{{whisky.id}}" method="POST"> 
            <input type="submit" value="Add Whisky to My Wishlist">
        </form>
        <form action="/whiskies/{{ whisky.id }}/delete" method="POST">
            <input type="submit" value="Delete">
        </form>
    </div>
</section>
{% endfor %}

<button><a href="/whiskies/new">Add a new whisky</a></button>

{% endblock %}