{% extends "base.html" %}
{% block content %}

<h2>Add a New Whisky</h2>

<form action="/whiskies" method="POST">

        <label for="name">Name:</label>
        <input type="text" name="name" id="name">

        <label for="type">Type:</label>
        <select name="type" id="type">
            <option value="" disabled selected>Select a type</option>
            <option value="Single Malt">Single Malt</option>
            <option value="Single Grain">Single Grain</option>
            <option value="Blended Malt">Blended Malt</option>
            <option value="Blended Grain">Blended Grain</option>
            <option value="Blended Whisky">Blended Whisky</option>
        </select>

        <label for="distillery">Distillery:</label>
        <select name="distillery_id" id="distillery_id">
            <option value="" disabled selected>Select a distillery</option>
            {% for distillery in distilleries %}          
            <option value="{{distillery.id}}">{{distillery.name}}</option>
            {% endfor %}
            <option value=None>Not applicable</option>
        </select>

        <label for="flavour_profile">Flavour Profile:</label>
        <input type="text" name="flavour_profile" id="flavour_profile">

        <input type="submit">
    </div>
</form>

{% endblock %}