{% extends "base.html" %}
{% block content %}

<h2>Add a New Review</h2>

<form action="/reviews" method="POST">
    <div>
    <input type="hidden" name="user_id" value="{{user.id}}">
    </div>
    <div>
        <label for="whisky">Whisky:</label>
        <select name="whisky_id" id="whisky">
            {% for whisky in whiskies %}
            <option name = "{{whisky.id}}" value="{{ whisky.id }}">
                {{ whisky.name }}
            </option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="rating">Rating:</label>
        <select name="rating" id="rating">
            <option value="5">5</option>
            <option value="4">4</option>
            <option value="3">3</option>
            <option value="2">2</option>
            <option value="1">1</option>
        </select>
    </div>
    <div>
    <label for="description">Review:</label>
    <input type="text" name="description" id="description">
    </div>
    <div>
        <input type="submit">
    </div>
</form>

{% endblock %}