{% extends "base.html" %}
{% block content %}

<h2>Add a New Review</h2>

<form action="/reviews" method="POST">

    <input type="hidden" name="user_id" value="{{user.id}}" class="review_form">
    
    <label for="whisky">Whisky:</label>
    <select name="whisky_id" id="whisky" required>
        {% for whisky in whiskies %}
        <option name = "{{whisky.id}}" value="{{ whisky.id }}">
            {{ whisky.name }}
        </option>
        {% endfor %}
    </select>
    
    <label for="rating">Rating:</label>
    <select name="rating" id="rating" required>
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
    </select>

    <label for="date">Date:</label>
    <input type="text" name="date" id="date">

    <div class="review_description">
        <label for="description" class="review_description_label">Review:</label>
        <textarea name="description" id="description" cols="80" rows="5"></textarea>
    </div>

    <input type="submit" class="review_submit">
    
</form>

{% endblock %}