body{
    font-family: 'Architects Daughter', cursive; font-size: 18px;
    background-color: rgb(230, 201, 109);
  }

a {
    font-family: 'Architects Daughter';
}

ul {
    list-style-type: none;
    display:flex;
    font-size: 16px;
  }

li {
    padding: 5px;
}

h1 {
    font-size: 300%;
}

ul.menu {
    margin:0px;
    padding-left: 0px;
}

.top_bar {
    display:flex;
    justify-content: space-between;
}

.second_bar {
    display:flex;
}

h1 {
    margin-bottom: 2px;
    margin-top: 2px;
}

.user_account {
    align-self: flex-end;
    display:flex;
}

.user_account_label {
    align-self: center;
}

hr {
    margin: 2px;
    margin-bottom: 8px;
}

.body {
    display:flex;
    justify-content: space-between;
}

.container {
    flex-grow: 4;
}

.review_button {
    flex-grow: 1;
    height: 60px;
    width: 200px;
    font-size: 28px;
    background-color: rgb(175, 155, 88);
    font-family: 'Architects Daughter';
}

h2 {
    margin: 10px; 
}

h3 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 25px;
}

h4 {
    margin: 5px;
    font-size: 20px;
}

h5 {
    margin: 5px;
    font-size: 18px;
}

p {
    font-size: 16px;
}

.review {
    margin-left: 10px;
}


  
  /* .task {
    border: 1px solid #ccc;
    width: 300px;
    min-height: 68px;
    padding: 10px;
    display: flex;
    line-height: 18px;
    margin-bottom: 10px;
  }
  
  .name {
    font-weight: bold;
    margin-bottom: 0.5em;
    margin-right: 0.3em;
  }
  
  .duration{
    color: #8899a6;
    font-size: 13px;
    margin-left: 20px;
  }
  
  .buttons {
    margin-top: 10px;
    margin-left: 2px;
    font-size: 1.4em;
    color: #aab8c2;
  }
  
  .buttons i {
    width: 80px;
  }
  
  input, select, button {
    font-size: 100%;
    width : 100%;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
  }
  
  .trash-button{
    display: contents;
    font-size: 65%;
  }
  
  
  .delete-form{
    display: inline;
  }
  
  .menu{
    display: flex;
    padding: 10px;
    background-color: grey;
    color: white;
  }
  
  .menu li a{
    text-decoration: none;
  }
  
  .menu li a:visited{
    color: white;
  }
  
  .menu li{
    padding-right: 10px;
    list-style: none;
    color: white;
    font-family: "Helvetica", arial, sans-serif; font-size: 14px;
  }
  
  .container{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    margin: 0 auto;
  }
   */