<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');</style>
    <title>Malternatives</title>
</head>
<body>
    <header>
        <div class="top_bar">
            <a href="/"><img src="/static/images/Wheatsheaf.png" style="width:150px;height:100px"></a>
            <div>
                <nav>
                    <ul class="menu">
                        <li><a href="/distilleries">Distilleries</a></li>
                        <li><a href="/whiskies">Whiskies</a></li>
                        <li><a href="/reviews">All Reviews</a></li>
                    </ul>
                </nav>
                <h1>Malternatives - A Whisky Rating App</h1>
            </div>
            <div class="user_account">
                    <label for="user_account" class="user_account_label">User account</label>
                    <a href="/users/1"><img src="/static/images/user_account.png" style="width:50px;height:50px"></a>
            </div>
        </div>
    </header>
    <hr>
    <div class="body">
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
        <button class="review_button"><a href="/reviews/new" class="review_button">Review a whisky!</a></button>
    </div>
</body>
</html>